#qad1,#qad2,#qad3,#qad4,#qad5,#qad6,#qad7,#qad8,#qlogo,#qlogob,#qcopy,#qcategory,#qnew{
  overflow:hidden;
  width:535px;
  padding-top: 10px;
}
.qqoq_form{
  display: inline-block;
  position: relative;
}
.sub{
  background: none repeat scroll 0 0 #F9F9F9;
  border-left: 1px solid #DDDDDD;
  border-top: 1px solid #DDDDDD;
  bottom: 0;
  color: #AAAAAA;
  cursor: pointer;
  font-size: 12px;
  height: 25px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 70px;
}
.sub:hover{
  color:#D33431;
}
.qqad{
  width:350px;
  height:150px;
  border:1px solid #ddd;
  font-size:12px;
  float:left;
}
.adw{
  border: 1px solid #DDDDDD;
  width: 170px;
  height: 150px;
  position:relative;
  margin-right: 10px;
  float: left;
}
.adw span{
  border: 1px solid #fff;
  color: #BBBBBB;
  float: left;
  font-size: 12px;
  height: 128px;
  line-height: 22px;
  padding: 10px;
  width: 148px;
}
.adw span a{
  color:#D33431;
}
#qnew i,.adw i{
  background:#F9F9F9;
  color: #AAAAAA;
  font-size: 12px;
  font-style: normal;
  left: 5px;
  position: absolute;
  text-align: center;
  top: -10px;
  width: 90px;
  text-transform: uppercase;
}
.pd{
  height: 140px;
  padding: 5px;
  width: 340px;
}
.pd label{
  margin-right:10px;
  display: inline-block;
  margin-bottom: 5px;
}
.new1,.new2,.new3,.new4{
  border: 1px solid #DDDDDD;
  position: relative;
  padding: 10px;
  display: inline-block;
  margin-bottom: 15px;
}
.new1 span,.new2 span,.new3 span,.new4 span{
  float: left;
  width: 50px;
  line-height: 30px;
  color: #888;
}
#qnew input{
  border: 1px solid #DDDDDD;
  color: #777777;
  float: left;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  width: 199px;
}
input.il{
  margin-right:10px;
}
input.ib{
  margin-bottom: 10px;
}
#qnew input.nb{
  background: none repeat scroll 0 0 #F9F9F9;
  color: #888;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  border: 1px solid #DDDDDD;
  float: right;
  height: 30px;
  width: 199px;
}
#qnew input:hover.nb{
  color:#fc6440;
}