<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.zend.php.phpunit.PHPUnitLaunchConfigurationType">
<stringAttribute key="ATTR_LOCATION" value="D:\软件\安装\zend\plugins\com.zend.php.debug.debugger.win32.x86_5.3.21.v20130211\resources\php54\php-cgi.exe"/>
<stringAttribute key="ZEND_PHPUNIT_TESTS_CONTAINER_TYPE" value="SCRIPT_PROJECT"/>
<stringAttribute key="com.zend.php.phpunit.class" value=""/>
<booleanAttribute key="com.zend.php.phpunit.code_coverage" value="true"/>
<stringAttribute key="com.zend.php.phpunit.container" value="/basic"/>
<stringAttribute key="com.zend.php.phpunit.file" value=""/>
<booleanAttribute key="com.zend.php.phpunit.is_suite" value="true"/>
<booleanAttribute key="com.zend.php.phpunit.logXml" value="true"/>
<stringAttribute key="com.zend.php.phpunit.project" value="basic"/>
<booleanAttribute key="firstLineBreakpoint" value="true"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="true"/>
<stringAttribute key="org.eclipse.php.debug.coreconfiguration_delegate_class" value="com.zend.php.debug.core.launch.PHPExecutableExtendedLaunchDelegate"/>
</launchConfiguration>
