@charset "utf-8";
/* CSS Document */

#plan_content table td {  margin-left:12px; width:150px; text-align:center; height:30px; }
.f_tr{background:url(img/nav_bg.png) repeat-x; color:#FFF; height:34px;  }
.tbg{background:#b5dafd;}
.element_head ul {  float:left;border-bottom:#999 dotted 1px; width:600px;}
.element_head ul li { display:block;}
.img{ float:left; margin-right:6px;}
.news_title {float:left;}
.get_more{margin:10px; text-align:center;}
.date { float:right;}
.backToTop {
		 display: none;
		 width: 18px;
		 line-height: 1.2;
		 padding: 5px 0;
		 background-color: #000;
		 color: #fff;
		 font-size: 12px;
		 text-align: center;
		 position: fixed;
		 _position: absolute;
		 right: 10px;
		 bottom: 100px;
		 _bottom: "auto";
		 cursor: pointer;
		 opacity: .6;/*元素的透明度，取值为1表示完全不透明，取值为0表示完全透明*/
		 filter: Alpha(opacity=60);/*CSS静态滤镜样式，设置图片或文字的不透明度*/
	}