@font-face {
  font-family: 'Squada One';
  font-style: normal;
  font-weight: 400;
  src: url('Squada_One/SquadaOne-Regular.ttf');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url('Source_Sans_Pro/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff');
}